.container{
    display:flex;
    justify-content:space-around;
}

#canvasWrapper{
    width:90%;
    background-color: rgb(231, 230, 230);
}

#clusteringOptions{
    margin:10px;
}

#startKMeansClustering, #startKMedoidsClustering{
    margin-top:10px;
    color:rgb(6, 126, 6);
    background-color: rgb(218, 212, 212);
    padding:10px;
    height:65px;
    width:160px;
}