.container{
    display:flex;
    justify-content:space-around;
}

#canvasWrapper{
    width:90%;
    background-color: rgb(231, 230, 230);
}

#clusteringOptions{
    margin:10px;
}

#startClustering{
    margin-top:10px;
    color:lime;
    background-color: grey;
    padding:10px;
    height:65px;
    width:160px;
}